body { background-color: #3692b6;
}
#Parag1 { font-size: 26px; font-family: "Times New Roman", Times, serif; margin: 20px 50px 10px 50px; border: 5px; border-style: dashed; border-radius: 20px;
}
#Parag2 { font-size: 30px; font-family: Impact, Charcoal; margin: 10px 100px 20px 100px 50px;
}
#Parag3 { font-size: 36px;
}
#smallTable { height: 50px; width: 50px; margin: 20px 20px 20px 20px;
}
#floatImg {float: left;
}

